resources:
- ../../base

# Appends -staging to the service name so it can coexist with prod
nameSuffix: -staging

patches:
- target:
    kind: Service
    name: romans-click-count
  patch: |-
    - op: add
      path: /spec/template/spec/containers/0/env/-
      value:
        name: ENVIRONMENT
        value: "staging"